section.banner {
    font-family: "Bahnschrift";
    background: linear-gradient(to right, orange, darkorange);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: gradientAnimation 10s linear infinite;
    @keyframes gradientAnimation {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

section.input {
    text-align: center;
}

body {
    padding-top: 100px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

p {
    margin: 100px;
}

p.back {
    text-align: left;
}

canvas.platform {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    height: 270px;
    width: 480px;
}

#scatter, #map {
    /*border: 1px solid black;*/
    padding: 10px;
    margin: 20px;
    height: 500px;
    width: 500px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#scatter {
    position: relative;
    top: 600px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.tippy-box[data-theme~='map'][data-placement^='top'] {
    background-color: darkblue;
    color:floralwhite;
}

.tippy-box[data-theme~='scatter'][data-placement^='top'] {
    background-color: darkgreen;
    color:floralwhite;
}